body {
	height: 100%;
	width: 100%;
}

.header {
	background: #222;
	padding: 3px;
}

.logo {
	height: 41px;
	width: 117px;
}

/* body */

.container {
	display: inline-block;
}

/* box-container */

.box-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: red;
	border-style: solid;
	border-width: 1px;
}

.lil-header {
	background: red;

}
.strip:first-.strip {
	margin-top: 20px;
}

.strip {
	border: #222;
	border-style: solid;
	border-width: 1px;
	margin: 0px 20px;
}

